<p>home1 works!</p>
<!-- <div class="contimg">
    
</div>

<button (click)="fun()">
    ok
</button> -->

<button (click)="showProduct()">Show procuctds</button>


<div *ngIf="showCardc" class="conteiner">
    <div class="btns">
        <input placeholder="Live search" type="text"[(ngModel)]='search' (ngMoledCange)="searchtitle()">
        <button class="btn009" (click)="sort()">{{btnchange}}</button>
    </div>
<div *ngIf="!isFilterd" class="conteiner008">
    <div class="card" style="width: 18rem;" *ngFor='let el of productArr' >
  <img [src]="el.image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{el.title}}</h5>
     <h5 class="card-title">{{el.price}}</h5>
    <p class="card-text">{{el.description}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>