// .contimg{
//     width: 200px;
//     height: 200px;
//     background-image: url(../../../public/istockphoto-865457032-1024x1024.jpg);
//     background-size: cover;
// }

.conteiner{
    display: flex;
    gap: 5px;
    width: 100%;
   

    
    // flex-direction: column;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;

    
}
.conteiner008{
     display: flex;
    gap: 5px;
   
    flex-wrap: wrap;
    
    justify-content: center;
}